import "pe"
import "math"

rule EXE_DROP
{
	strings:
		$a  = "This program cannot be run in DOS mode"
	condition:
		all of them
}

rule MSDOS_EXE_FILE
{
	strings:
		$a  = "This program must be run under Win32"
	condition:
		all of them
}

rule MZ_PORTABLE_EXE
{
	condition:
		uint16(0) == 0x5A4D and
		uint32(uint32(0x3C)) == 0x00004550
}

rule BASH
{
	strings:
		$a = "bash" nocase
	condition:
		all of them
}

rule LOREM
{
	strings:
		$a = "lorem" nocase
	condition:
		all of them
}

rule BUDGET
{
	strings:
		$a = "Budget"
	condition:
		all of them
}

rule S95
{
	strings:
		$a = "95"
	condition:
		all of them
}

rule JUDO
{
	strings:
		$a = "JUDO" nocase
	condition:
		all of them
}

rule SOCCER
{
	strings:
		$a = "soccer" nocase
	condition:
		all of them
}

rule LINUX
{
	strings:
		$a = "linux" nocase
	condition:
		all of them
}

rule CTXTEST
{
	strings:
		$a = "test_pii" nocase
		$b = "generic" nocase
		$c = "Embedded" nocase
	condition:
		any of them
}

rule CTXTESTXML
{
	strings:
		$a = "xml" nocase
	condition:
		any of them
}

rule SHOUTING
{
        strings:
                $a = "shouting" nocase
        condition:
                any of them
}

rule GIF_IMAGE_FILE
{
    meta:
        type = "GIF image file"
    strings:
        $gif_image_file = { 47 49 46 38 }
    condition:
        $gif_image_file
}

rule javascript_open_tag
{
    meta:
        type = "Javascript open tag"
    strings:
        $scriptbin = { 3c 73 63 72 69 70 74 20 }
    condition:
        $scriptbin
}

rule javascript_close_tag
{
    meta:
        type = "Javascript close tag"
    strings:
        $scriptbin = { 3c 2f 73 63 72 69 70 74 3e }
    condition:
        $scriptbin
}

rule iframe_open_tag
{
    meta:
        type = "Iframe open tag"
    strings:
        $iframebin = { 3c 69 66 72 61 6d 65 20 }
    condition:
        $iframebin
}

rule iframe_close_tag
{
    meta:
        type = "Iframe close tag"
    strings:
        $iframebin = { 3c 2f 69 66 72 61 6d 65 3e }
    condition:
        $iframebin
}

rule image_count_in_pdf
{
        strings:
                $a = {25 50 44 46} 
                $b = "image" nocase fullword
        condition:
                $a and #b > 70
}

rule file_size
{
	condition:
		filesize>2
}

rule pe_stuff
{
	condition:
		pe.number_of_sections > 1
}


rule is_dll
{
    condition:
        pe.characteristics & pe.DLL
}

rule is_entropy
{
	condition:
		math.entropy(0,filesize)>5
}
